@baseFontSize: 100%;
@KeyFontSize : @baseFontSize * 2;
@DefFontSize : @baseFontSize * 1.25;
@baseBlue: #418AB6;
@baseYellow: #F9E48B;
@baseGray: #E9EDEC; 
@baseMargin: 20px;
@basePadding: 4px;
* {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
   
}
*::selection{
    background-color: lightsalmon;
}
.bgcTransition {
    transition: background-color 0.3s;
}
k {
    font-weight: bold;
    font-size: @KeyFontSize;
    margin: @baseMargin @baseMargin 0 @baseMargin;
    .bgcTransition();
}
k:hover{
    background-color: rgba(red(@baseBlue), green(@baseBlue), blue(@baseBlue), 0.4)
}

body>def {
    margin: @baseMargin;
}

@posFrameWidth : 48px;
gr {
    font-size: @baseFontSize;
    width: @posFrameWidth;
    background-color: @baseBlue;
    color: @baseYellow;
    text-align: center;
    padding: @basePadding 0;
    font-family: 'Courier New', Courier, monospace;
}

.breakline{
    border-bottom: @baseGray 2px solid;
    color: @baseBlue;
    font-weight: bold;
    display: block;
    font-size: @DefFontSize;
    letter-spacing: 1px;
    padding-bottom: @basePadding;
    margin-bottom: @baseMargin*0.75;
    margin-top: @baseMargin*1.5;
    font-size: @baseFontSize;
}
dtrn, sr, def>def, ex{
    font-size: @DefFontSize;
}
dtrn:first-of-type::before{
    content: "General Translation";
    .breakline();
}
dtrn:not(:first-of-type), 
ex:not(:first-of-type),
def>def:not(:first-of-type),
sr:not(:first-of-type){
    padding-top: @basePadding*2;
} 
def>def:first-of-type::before{
    content: "Definition";
    .breakline();
}
ex:first-of-type::before{
    content: "Usage Example";
    .breakline();
}
sr:first-of-type::before{
    content: "Synonym";
    .breakline();
}